@use "../../styles/variables" as *;
@use "../../styles/mixins" as mix;
@use "../../styles/_animations" as *;

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  height: 78vh;
  width: 100%;
  position: sticky;
  top: clamp(2.3125rem, 1.6696rem + 1.0045vw, 2.875rem);
  animation: moveBg 30s linear infinite;
  z-index: -1;
  &::before {
    position: absolute;
    content: '';
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    @include mix.font-style-primary;
    @media (max-width: 1024px) {
      transform: scale(0.8);
    }
    @media (max-width: 768px) {
      transform: scale(0.6);
    }
    @media (max-width: 480px) {
      transform: scale(0.4);
    }
  }
  &__title {
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 86px;
    font-weight: 300;
    opacity: 0.7;
  }
  &__subtitle {
    font-size: 22.5px;
    font-weight: 200;
    animation: fadeInH2 7.5s forwards;
  }
  &__logo {
    animation: slideUp 5s forwards, fadeInH2 5.7s forwards;
  }
  &__name {
    position: relative;
    left: -215px;
    top: 45px;
    z-index: 6;
    text-shadow: 0 0 100px #edfdd2, 0 0 100px #edfdd2, 0 0 120px #edfdd2, 0 0 130px #edfdd2, 0 0 250px #edfdd2, 0 0 250px #edfdd2;
    color: $color-font-md;
  }
  &__name:nth-of-type(1) {
    animation: slideLeft 4s forwards, fadeIn 8s forwards;
  }
  &__name:nth-of-type(2) {
    animation: slideRight 4s forwards, fadeIn 8s forwards;
  }
}
