@keyframes slideLeft {
  100% {
    transform: translateX(-50px);
  }
  0%,
  70% {
    transform: translateX(30px);
  }
}

@keyframes slideRight {
  100% {
    transform: translateX(90px);
  }
  0%,
  70% {
    transform: translateX(10px);
  }
}

@keyframes slideUp {
  0%,
  70% {
    transform: translateY(280px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0%,
  10% {
    opacity: 0;
  }
  80%,
  100% {
    opacity: 1;
  }
}

@keyframes fadeInH2 {
  0%,
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@keyframes fadeStick {
  0% {
    opacity: 0;
  }
  10%,
  100% {
    opacity: 1;
  }
}

@keyframes fadeStick2 {
  0% {
    opacity: 0;
  }
  15%,
  100% {
    opacity: 1;
  }
}

// TEST PERIOD
@keyframes moveBg {
  0% {
    background-position: 10% 20%;
    background-size: 130%;
  }
  25% {
    background-position: 70% 40%;
    background-size: 120%;
  }
  50% {
    background-position: 30% 80%;
    background-size: 110%;
  }
  75% {
    background-position: 80% 60%;
    background-size: 120%;
  }
  100% {
    background-position: 10% 20%;
    background-size: 130%;
  }
}

@keyframes heroMotion {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.15) translate(-15px, -5px);
  }
  50% {
    transform: scale(1.2) translate(10px, 15px);
  }
  75% {
    transform: scale(1.15) translate(-15px, 15px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes collapseLogo {
  0%, 80% {
    transform: translate(0, 0) scale(1);
  }
   100% {
    transform: translate(630px, -430px) scale(0.4);
  }
}
