@use "../../../styles/variables" as *;

.navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: clamp(0.3125rem, 0.2367rem + 0.3236vw, 0.625rem);
  font-family: var(--font-montserrat);
  font-weight: 300;
  @media (max-width: 1024px) {
    padding: 0.2125rem 10px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logoContainer {
    display: flex;
    align-items: center;
    position: fixed;
    top: calc(5px - (100vw - 1300px) * (3 / 620));
    left: clamp(0.9375rem, 0.4066rem + 2.2654vw, 3.125rem);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    transition: transform 0.35s ease;
    background: #215db6;
    text-shadow: 2 2 5 rgba(0, 0, 0, 0.452);
    @media (max-width: 860px) {
        top: 5px;
    }
  }

  &__logoContainer--shrink {
    transform: scale(0.75) translate(-20px, -10px);
    background: none;
    padding: 0;
    
  }

  &__logoContainer--shrink:hover {
    transform: scale(1) translate(10px, 0px);
    background: #1851a5;
    padding: 10px;
  }

  &__logoImage {
    position: relative;
    width: clamp(2.5rem, 1.0714rem + 2.2321vw, 3.75rem);
    height: clamp(2.5rem, 1.0714rem + 2.2321vw, 3.75rem);
  }

  &__logoText {
    font-size: clamp(16px, 2vw, 28px);
    color: $color-font-light;
  }

  &__links {
    display: flex;
    gap: 2rem;
    transform: translateX(clamp(6.25rem, 7.767rem + -6.4725vw, 0rem));
    font-weight: 500;
    font-size: clamp(1.25rem, 0.9643rem + 0.4464vw, 1.5rem);
    @media (max-width: 1024px) {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    transition: opacity 0.2s;
    color: $color-font-light;

    &--active {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__contactSvgs {
        @media (max-width: 1024px) {
            display: none;
        }
    }

  &__hamburger {
    background: transparent;
    border: none;
    color: $color-font-light;
    @media (min-width: 1025px) {
      display: none;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  &__mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 75%;
    height: 100vh;
    background: white;
    padding: 2rem;
  }

  &__closeBtn {
    background: transparent;
    border: none;
    position: fixed;
    top: 3px;
    right: 10px;
  }

  &__mobileLink {
    display: block;
    padding: 1rem 2rem;
  }
}
